/Bezier.class
/BezierFitting.class
/CurveCreationException.class
/Fitting.class
/Interpolation.class
/LeastSquareBezier.class
/LeastSquareFitting.class
/LeastSquareLine.class
/NearestPoint.class
/PolygonFitting.class
/SmoothBezier.class
/SmoothFitting.class
